* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
}
.header {
    padding: 60px;
    text-align: center;
    background: #ece4d4;
    color: black;
}
.navbar {
    display: flex;
    background-color: #9b9484;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 30%;
    background-color: #c4bcac;
    padding: 20px;
}
.main {
    flex: 70%;
    background-color: #ece4d4 ;
    padding: 20px;
}
.fakeimg {
    background-color:white;
    width: 100%;
    padding: 20px;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #9b9484;
}
@media screen and (max-width: 700px){
    .row, .navbar{
        flex-direction: column;
    }
}